html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map_canvas {
    height: 50%;
}

.btn {
    background-color: #6bb4e5;
}

#search_map{
    height: 85%;
}

#imageView {
    width: 50%;
    align-content: center;
}

#photo {
    margin: 3em;
}



.skills {
	height:70px; 
 	width:70px;
 	margin: 20px 20px 20px 20px;

}
.skillsSelected{
	height:70px; 
 	width:70px;
 	margin: 20px 20px 20px 20px;
 	box-shadow:0px 12px 22px 1px #333;
 	opacity: .5;
}
.center{
	text-align:center;
	width: 100%;
}
#push-button{
	width: 150px;
	text-align: left;
}

.bottombar {
    background-color: #6bb4e5;
    display: block;
}

.topBar {
    background-color: #6bb4e5;
}

.topBarContents{
    padding-left: 5.5em;
    padding-top: .25em;
    padding-bottom: .25em;
    font-size: 2rem;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.dropdown-content {
    min-width: 160px;
    height: 50px;
    padding-left: 1em;
    overflow: auto;
    z-index: 1;
}


#hours {
    width: 20px;
    height: 25px;
}

#workDate {
    width: 115px;
    height: 30px;
}

.currentPage {
    background: #77bfef;
}

.btmicons {
    padding-left: .5em;
}

.radio {
    padding-left: .5em;
}

.searching {
    background-color: #83c8f7;
}


