html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map_canvas {
    height: 50%;
}

#search_map{
    height: 50%;
}

#imageView {
    width: 50%;
    align-content: center;
}

#photo {
    margin: 3em;
}

#bottombar {
    background-color: aquamarine;
}